.gallery {
  position: relative;
  img {
      width: 100%;
      height: auto;
      border-top-left-radius: 35px;
      border-top-right-radius: 35px;
  }
  button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 24px;
  }
  .arrowLeft {
      left: 10px;
  }
  .arrowRight {
      right: 10px;
  }
     .arrowLeft, .arrowRight {
    font-size: 50px;
    transition: all 0.3s ease;

    &:hover{
      transition: all 0.3s ease;
      font-size: 80px;
    }

}
}
