.navbar {
  text-align: center;
  width: 83vw;
  height: 6vh;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.mainBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@mixin picture-background($image-url) {
  background-image: url($image-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pictures {
  width: 40vw;
  height: 40vh;
  margin: 3vh;
  border-radius: 40px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  box-shadow:10px 10px 10px #000;
  -webkit-box-shadow:15px 15px 15px #000;
  -moz-box-shadow: 10px 10px 10px #000;

  &:hover .background {
    filter: blur(10px) brightness(0.2);
    transform: scale(1.3);
  }

  &:hover .hoverText {
    display: block;
  }
}

.background {
  width: 100%;
  height: 100%;
  transition: filter 0.3s ease, transform 1s ease;
  position: absolute;
  border-radius: 35px;
}

.picture1 {
  @include picture-background('/placeholder1.png');
}

.picture2 {
  @include picture-background('/placeholder2.png');
}

.picture3 {
  @include picture-background('/placeholder3.png');
}

.picture4 {
  @include picture-background('/placeholder4.png');
}

.hoverText {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
  white-space: nowrap;
}

.backgroundImage {
  background-image: url('/space.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.shoppingCart{
width: auto;
height: 5vh;
}

.test{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  height: 6vh;
}

.productDivMain{
  max-width: 83vw;
  margin: 3vh auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.productDivLeft{
  width: 40vw;
  height: 86vh;
border-radius: 40px;
background-color: whitesmoke;
box-shadow:10px 10px 10px #000;
  -webkit-box-shadow:15px 15px 15px #000;
  -moz-box-shadow: 10px 10px 10px #000;
}

.productDivRight{
  width: 40vw;
  height: 86vh;
border-radius: 40px;
background-color: whitesmoke;
box-shadow:10px 10px 10px #000;
  -webkit-box-shadow:15px 15px 15px #000;
  -moz-box-shadow: 10px 10px 10px #000;
}

.mainLogo{
  width: 10vw;
height: auto;
}

.productDivLeftText{
  color: #000;
}
