.navbar{
  text-align: center;
  width: 100vw;
  height: 6vh;
  border-style: solid;
border-color: red;
}
.mainBox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pictures{
text-align: center;
border-style: solid;
border-color: red;
color: red;
width: 40vw;
  height: 40vh;
  margin: 3vh;
}

.backgroundImage {
  background-image: url('./space.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
