.navbar{
text-align: center;
width: 83vw;
height: 6vh;
margin: auto;
background: rgba(0, 0, 0, 0.8);
border-bottom-left-radius: 40px;
border-bottom-right-radius: 40px;
}

.mainBox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

// Same styles for 4 divs with different images
@mixin picture-background($image-url) {
  background-image: url($image-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 40vw;
  height: 40vh;
  margin: 3vh;
  text-align: center;
  border-style: none;
  border-radius: 40px;
  box-shadow:10px 10px 10px #000;
  -webkit-box-shadow:10px 10px 10px #000;
  -moz-box-shadow: 10px 10px 10px #000;
}

// Set different picture to each div
.picture1 {
  @include picture-background('/placeholder1.png');
}

.picture2 {
  @include picture-background('/placeholder2.png');
}

.picture3 {
  @include picture-background('/placeholder3.png');
}

.picture4 {
  @include picture-background('/placeholder4.png');
}

.pictures {
  transition: filter 0.3s ease;
  transition: 1s ease;
  position: relative;
  &:hover {
    filter: blur(10px);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
    cursor: pointer;

    .hoverText {
      display: block;

  }
  &::after{
    content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 40px;
  }
}
}

.hoverText {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;}

.pictures img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.backgroundImage {
  background-image: url('/space.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
